* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #dbe2ef;
}
.container {
  width: 100%;
  height: 100vh;
  /* overflow-x: hidden; */
}
nav {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.menu-item {
  flex: 1;
}

.menu-left {
  text-align: left;
  margin-left: 4em;
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
  margin-right: 4em;
}

.menu-link {
  padding: 0 30px;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-img {
  position: absolute;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  background: #b7c4cf;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.images {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: black;
}

.left {
  background: url("../assets/blue-three.png") no-repeat 50% 50%;
  background-size: cover;
}

.right {
  background: url("../assets/blue-two.jpg") no-repeat 50% 50%;
  background-size: cover;
}

p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9f7f7;
  font-family: "Voyage";
  font-size: 300px;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}
.maintext{
	text-align: center;
  position: absolute;
  top: 70%;
  left: 36%;
  line-height: 20px;
  transform: translate(-50%, -40%);
  color: #f9f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}


.sidebar-text {
  font-family: "Monument Extended";
  position: absolute;
  top: 20%;
  right: 0.4em;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 1px #112d4e;
}

.projects {
  position: absolute;
  bottom: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Monument Extended";
}

.img-nav {
  position: absolute;
  right: 10%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #000;
  font-family: "Monument Extended";
}

.next {
  position: relative;
  top: 40px;
  left: 80px;
  font-family: "Monument Extended";
}

.button {
  display: inline-block;
  margin: 4px 2px;
  background-color: #b7c4cf;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search {
  position: absolute;
  left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  width: 363px; /* Bar width+1px */
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: 49px; /* Button width-1px */
}

.expandright:focus {
  padding: 0 0 0 16px;
}

.arrow {
  width: 150px;
  height: auto;
  position: absolute;
  top: 80%;
  left: 45%;

  filter: invert(100%);
}

#container2 {
  background-color: white;
  width: 100%;
  height: 100vh;
  /* margin-top: 50px; */
  padding-top: 10px;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.navbar{
	display: flex;
	justify-content: center;
	align-items: center;


}
.arrowimg{
	width: 100px;
	height: auto;
}
.navEl {
  margin: 50px;
  margin-top: 0;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  padding-bottom: 0px;
  transition: 0.2s linear;
}

.navEl:hover {
  border-bottom: 0.5px solid;
  margin: 50px;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 0px;
}

#mainboxes{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 50px;
    margin-left: 100px;
	background-color: #A1C8D9;
	border-radius: 30px;
}
.leftbox{
        background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:10px;
	font-family: 'Square Peg', sans-serif;
	font-size: 2.5rem;
    
}
.rightbox{
	font-family: 'Montserrat', sans-serif;
	background-image: url(../assets/img-one.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
	width: 40vw;
	height: 75vh;
	color: white;

}
#birthday{
	outline: none;
}

input[type="date"]{
	outline: none;
	font-family: 'Montserrat',sans-serif;
	opacity: 0.6;
	background-color: #fff;
	border: none;
	margin-left: 30px;
}

.leftbox div{
	padding-right: 10px;
	margin-top: 25px;
}

input[type="text"]
{
	outline: none;
	background-color: #A1C8D9;
	border: none;
	border-bottom:0.5px solid black ;
	font-family: 'Montserrat', sans-serif;
	padding-left: 10px;
}